<%= render partial: 'shared/page_info', locals: {page_title: "Registration", page_header: "Student Registration", page_header_description: "New Student"} %>

<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">General Information</h3>
  </div><!-- /.box-header -->
  <div id = "student_from_wrapper">
    <%= render partial: "shared/student_form", locals: {btn_label: 'Register'} %>
  </div>

</div><!-- /.box -->
