<%= render partial: 'shared/page_info', locals: {page_title: "Registration", page_header: "Student Registration", page_header_description: "New Student"} %>

<div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">General Information</h3>
    </div><!-- /.box-header -->
    <%= render 'shared/student_form'  %>
      
</div><!-- /.box -->  
  <!-- general form elements disabled -->
