<%= render partial: 'shared/page_info', locals: {page_title: "Student Details",
												 page_header: @student.first_name + " " + @student.last_name,
												 page_header_description: @student.regno} %>

<div class="row">
	<div class="col-md-12">
	  <!-- Custom Tabs -->
		<div class="nav-tabs-custom">
		    <ul class="nav nav-tabs">
		      <li class="active"><a href="#tab_1" data-toggle="tab">General</a></li>
		      <li><a href="#tab_2" data-toggle="tab">Account</a></li>
		      <li><a href="#tab_3" data-toggle="tab">Academic</a></li>
		 	</ul>
		    <div class="tab-content">
			    <div class="tab-pane active" id="tab_1">
				    <div id = "student_info_wrapper" style = "display: <%= to_show %>">
				    	<button id = "edit_button" class = "btn btn-success pull-right"> Edit </button>

					      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas semper eros tempor facilisis.
					      Morbi vel felis eget sem elementum pellentesque ac id ante. Integer ligula orci, sodales in accumsan
					      sit amet, vulputate eu diam. Morbi congue ante eu ultrices egestas. Vivamus tincidunt mi ac arcu
					      placerat euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
					      egestas. Praesent maximus volutpat turpis, vel condimentum ligula imperdiet ut. Praesent massa dolor,
					      congue eu erat non, tempus vestibulum ipsum. Mauris iaculis a nibh et iaculis. Nam nec urna vitae dui
					      porttitor finibus.

					</div>
					<div id = "student_form_wrapper" style = "display: <%= to_show_error %>">
						<%= render partial: "shared/student_form", locals: {btn_label: 'Update'} %>
					</div>
			    </div><!-- /.tab-pane -->

			    <div class="tab-pane" id="tab_2">
			        The European languages are members of the same family. Their separate existence is a myth.
			        For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
			        in their grammar, their pronunciation and their most common words. Everyone realizes why a
			        new common language would be desirable: one could refuse to pay expensive translators. To
			        achieve this, it would be necessary to have uniform grammar, pronunciation and more common
			        words. If several languages coalesce, the grammar of the resulting language is more simple
			        and regular than that of the individual languages.
			    </div><!-- /.tab-pane -->
			    <div class="tab-pane" id="tab_3">
			        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
			        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			        It has survived not only five centuries, but also the leap into electronic typesetting,
			        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
			        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
			        like Aldus PageMaker including versions of Lorem Ipsum.
			    </div><!-- /.tab-pane -->
		    </div><!-- /.tab-content -->
		</div><!-- nav-tabs-custom -->
	</div><!-- /.col -->
</div> <!-- /.row -->

