<%= render partial: 'shared/page_info', locals: {page_title: "Course", page_header: "Ecit Course", page_header_description: @course_name} %>

<div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Course Association</h3>
      <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#new_course_association_modal">Assign Course</button>
    </div><!-- /.box-header -->
    <%= render partial: 'shared/course_edit_form', locals: {course: @course}  %>
      
</div><!-- /.box -->  

<%= render partial: 'shared/course_association_new', locals: {course: @course_association}  %>