<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">NAVIGATION</li>
        <!-- Optionally, you can add icons to the links -->
      <li><a href="#"><i class='fa fa-link'></i> <span>Registration</span></a></li>
      <li class = "<%= is_active(students_path) %>"><a href="<%= students_path %>"><i class='fa fa-link'></i> <span>Students</span></a></li>
      <li class = "<%= is_active(marks_path) %>"><a href="<%= marks_path %>"><i class='fa fa-link'></i> <span>Import</span></a></li>
      <li class="treeview">
        <a href="#"><i class='fa fa-link'></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
